<!-- Menü hozzáadása -->
<router-outlet></router-outlet><!-- Menü hozzáadása -->
<div class="home-container">
    <div class="welcome-section">
      <h1>Üdvözlünk a Műszaki Cikkek oldalán!</h1>
      <p>Fedezd fel a legjobb műszaki cikkeket és ajánlatokat!</p>
    </div>
    <div class="action-section">
      <button mat-flat-button color="primary" [routerLink]="['/login']" class="log-button">
        Bejelentkezés
      </button>
    <div class="action-section">
    <button
      *ngIf="isLoggedIn"
      mat-stroked-button
      color="warn"
      (click)="logout()"
      class="log-button">
      Kijelentkezés
    </button>
    </div>
    </div>
  </div>
  